:root{
  --dark: #113537;
  --dark-de: #2f393a;
  --light: #FFEAD0;
  
  --primary: #5EB1BF;
  --primary-de: #bbd9df;
  --primary-lt: #84c4cf;
  
  --accent: #6DA34D;
  --accent-de: #88a876;
  --accent-lt: #9dd37d;

  --secondary: #F76F8E;
  --secondary-de: #ffd2dc;
  --secondary-lt: #ffa2b8;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;

  background-color: var(--dark-de);
  color: var(--dark);

  /* font-weight: 600; */
  font-size: large;
}

h1,h2,h3,h4,h5{
  display: inline-block;
  margin: 0px;
}

.header{
  display: flex;
  position: sticky;

  flex-direction: column;

  top:0px;
  left:0px;

  background-color: var(--accent-de);
  padding:20px 20px 0px 20px;
  margin:0px;

  z-index: 10;

  box-shadow: 0px 0px 0px 0px var(--dark);

  transition: 0.25s;
}

.header-scrolling{
  box-shadow: 0px 0px 10px 0px var(--dark);

  padding-bottom: 0px;
  padding-top: 0px;
}

.controls{
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  height: 50px;
  opacity: 1;

  transition: 0.2s;
}

.controls.hidden{
  height: 0px;
  opacity: 0;
}

.controls>button{
  flex-grow: 1;
}

button{
  user-select: none;
  border: solid 1px var(--dark);
  background: none;

  color: var(--light);
  font-size: large;
  padding: 10px;

  transition: 0.2s;

  border-radius: 3px;
}

button:hover{
  border: solid 1px var(--primary);
}

.icon{
  display: flex;
  justify-content: center;
  align-content: center;

  width: 128px;
  height: 128px;

  border-radius: 10px;
  border: solid red 2px;

  padding:5px;
}

.content{
  max-width: 800px;
}

a{
  color: unset;
  text-decoration: unset;
}

.credits{
  width: 100%;
}

td:nth-child(even){
  text-align: start;
}

td:nth-child(odd){
  text-align: end;
}

.item{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  transform: scale(1,1);

  transition: 0.2s;

  cursor: pointer;

  user-select: none;
}

.item>div{
  margin: 1rem;
}

.item>div>h2{
  text-align: center;
  width: 100%;
}

.item:hover{
  transform: scale(1.05,1.05);
  background-color: var(--secondary);
}

.item:nth-child(odd) {
  flex-flow: row;
  background-color: var(--primary-de);
}

.item:nth-child(odd):hover {
  background-color: var(--primary-lt);
}

.item:nth-child(even) {
  flex-flow: row-reverse;
  background-color: var(--secondary-de);
}

.item:nth-child(even):hover {
  background-color: var(--secondary-lt);
}